{% extends "base.html" %}

{% block title %}League of Legends - Página Inicial{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="my-4">Bem-vindo ao Universo de League of Legends</h1>
    
    <p class="lead">Explore os campeões e descubra suas habilidades e estatísticas!</p>

    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kayn_0.jpg" class="img-fluid rounded my-3" alt="League of Legends">
    
    <div class="mt-4">
        <a href="/champions" class="btn btn-primary btn-lg">Explorar Campeões</a>
    </div>
</div>
{% endblock %}
